.logo-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.logo {
    margin-right: 20px;
    margin-left: 20px;
}

.logo>img {
    width: 100px;
    height: 80px;

    object-fit: contain;
}

.tag-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.tag-container>button {
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

.tag-container>button.active {
    outline: solid gray;
}

.tag-container-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1130px;
}

.tag-container-bottom>button {
    flex: 1;
    border: none;
}

#housing {
    background-color: #2296F3;
}

.housing.highlight {
    fill: #2296F3;

}

.line_housing {
    stroke: #2296F3;
}

#healthcare {
    background-color: #4CAF50;
}

.healthcare.highlight {
    fill: #4CAF50;
}

.line_healthcare {
    stroke: #4CAF50;
}

#generations {
    background-color: #FFC108;
}

.generations.highlight {
    fill: #FFC108;
}

.line_generations {
    stroke: #FFC108;
}

#abuse {
    background-color: #E91E63;
}

.abuse.highlight {
    fill: #E91E63;
}

.line_abuse {
    stroke: #E91E63;
}

#growth {
    background-color: #FF9801;
}

.growth.highlight {
    fill: #FF9801;
}

.line_growth {
    stroke: #FF9801;
}

#inequality {
    background-color: #F44335;
}

.inequality.highlight {
    fill: #F44335;
}

.line_inequality {
    stroke: #F44335;
}

#infrastructure {
    background-color: #01BCD4;
}

.infrastructure.highlight {
    fill: #01BCD4;
}

.line_infrastructure {
    stroke: #01BCD4;
}

#accountability {
    background-color: #FFEB3B;
}

.accountability.highlight {
    fill: #FFEB3B;
}

.line_accountability {
    stroke: #FFEB3B;
}