body {
    font-family: "proxima-nova", Proxima Nova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.logo-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 20px;
    padding-right: 20px;
    min-width: 800px;
}

.logo {
    margin-right: 20px;
    margin-left: 20px;
}

img {
    width: 30px;
    height: 30px;

    object-fit: contain;
}

.tag-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.tag-container>button {
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

.tag-container>button.active {
    outline: solid gray;
}

.tag-container-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* width: 100%; */
}

.tag-container-bottom>button {
    flex: 1;
    border: none;
    color: white;
    padding: 8px 0;
    border-radius: 20px;
    margin: 0 2px;
    border: solid 2px;
}

.tag-container-bottom>img {
    flex: 1;
    border: none;
    margin-top: 4px;
}

#housing {
    background-color: white;
    border-color: #A32268;
    color: #A32268;
}

#housing.active {
    background-color: #A32268;
    color: white;
}

.housing.highlight {
    fill: #A32268;

}

.line_housing {
    stroke: #A32268;
}

#public_health {
    background-color: white;
    border-color: #61AFF8;
    color: #61AFF8;
}

#public_health.active {
    background-color: #61AFF8;
    color: white;
}

.public_health.highlight {
    fill: #61AFF8;
}

.line_public_health {
    stroke: #61AFF8;
}

#education {
    background-color: white;
    border-color: #8C4E23;
    color: #8C4E23;
}

#education.active {
    background-color: #8C4E23;
    color: white;
}

.education.highlight {
    fill: #8C4E23;
}

.line_education {
    stroke: #8C4E23;
}

#violence {
    background-color: white;
    border-color: #A02337;
    color: #A02337;
}

#violence.active {
    background-color: #A02337;
    color: white;
}

.violence.highlight {
    fill: #A02337;
}

.line_violence {
    stroke: #A02337;
}

#economic_opportunity {
    background-color: white;
    border-color: #64C064;
    color: #64C064;
}

#economic_opportunity.active {
    background-color: #64C064;
    color: white;
}

.economic_opportunity.highlight {
    fill: #64C064;
}

.line_economic_opportunity {
    stroke: #64C064;
}

#discrimination {
    background-color: white;
    border-color: #7D2AAF;
    color: #7D2AAF;
}

#discrimination.active {
    background-color: #7D2AAF;
    color: white;
}

.discrimination.highlight {
    fill: #7D2AAF;
}

.line_discrimination {
    stroke: #7D2AAF;
}

#infrastructure {
    background-color: white;
    border-color: #4EAD8D;
    color: #4EAD8D;
}

#infrastructure.active {
    background-color: #4EAD8D;
    color: white;
}

.infrastructure.highlight {
    fill: #4EAD8D;
}

.line_infrastructure {
    stroke: #4EAD8D;
}

#government_and_institutions {
    background-color: white;
    border-color: #2DA7B0;
    color: #2DA7B0;
}

#government_and_institutions.active {
    background-color: #2DA7B0;
    color: white;
}

.government_and_institutions.highlight {
    fill: #2DA7B0;
}

.line_government_and_institutions {
    stroke: #2DA7B0;
}

#safety {
    background-color: white;
    border-color: #2C6DAB;
    color: #2C6DAB;
}

#safety.active {
    background-color: #2C6DAB;
    color: white;
}

.safety.highlight {
    fill: #2C6DAB;
}

.line_safety {
    stroke: #2C6DAB;
}

#community_life {
    background-color: white;
    border-color: #E9864E;
    color: #E9864E;
}

#community_life.active {
    background-color: #E9864E;
    color: white;
}

.community_life.highlight {
    fill: #E9864E;
}

.line_community_life {
    stroke: #E9864E;
}

.tooltip {
    position: absolute;
    text-align: left;
    /* width: 60px;
    height: 28px; */
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    background: white;
    font-size: 12px;
    border: solid #A9A9A9;
    border-width: 2px;
    border-radius: 5px;
    pointer-events: none;
}

.infobar {
    position: absolute;
    text-align: left;
    /* width: 60px;
    height: 28px; */
    padding: 5px;
    margin: 20px;
    font-size: 12px;
    background: white;
    border: solid #A9A9A9;
    border-width: 2px;
    border-radius: 5px;
    overflow: auto;
    flex: 1;
}

#infobar-top {
    display: flex;
    flex-direction: row;
}

#infobar-speaker {
    flex: 1;
    font-weight: bold;
}

#close-infobar {
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.tag-button.disabled {
    opacity: .3;
}

.snippet.hasTag {
    fill: #767676;
}

.snippet.hover {
    fill: #FFBB00;
}

/* .snippet.hasTag.highlight {
    fill: #404040;
} */

#audio-iframe {
    flex: 1;
    height: 235px;
    border: none;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    max-width: 800px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}